<h1>grafico 1</h1>
<h3>precio de carro nissan</h3>
<div class="grafico">
  <canvas id="canvas" class="grafico"></canvas>
  <h1>grafico 2</h1>
</div>
<div class="grafico">
  <canvas id="canvas2" ></canvas>
</div>
<h1>grafico 3</h1>
<div class="grafico">
  <canvas id="canvas3" ></canvas>
</div>
<h1>grafico 4</h1>
<div class="grafico">
  <canvas id="canvas4" ></canvas>
</div>
<h1>grafico 5</h1>
<div class="grafico">
  <canvas id="canvas5" ></canvas>
</div>
<h1>grafico 6</h1>
<div class="grafico">
  <canvas id="canvas6" ></canvas>
</div>
