<table>
    <thead>
      <tr>
       
        <th>COL5</th>
        <th>COL6</th>
        <th>COL7</th>
        <th>COL8</th>
        <th>COL9</th>
        <th>COL10</th>
        <th>id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let objeto of miObjeto">
       
        <td>{{ objeto.COL5 }}</td>
        <td>{{ objeto.COL6 }}</td>
        <td>{{ objeto.COL7 }}</td>
        <td>{{ objeto.COL8 }}</td>
        <td>{{ objeto.COL9 }}</td>
        <td>{{ objeto.COL10 }}</td>
        <td>{{ objeto.id }}</td>
      </tr>
    </tbody>
  </table>
  